#maze {
	width: 1500px;
	height: 680px;
	border: 2px solid black;
	position: relative;
	background-color: rgb(212, 42, 172);
}

.wall {
	width: 70px;
	height: 70px;
	background-color: black;
	position: absolute;
}

#start {
	background-color: green;
	width: 210px;
	height: 140px;
	position: absolute;
}

#finish {
	background-color: red;
	width: 40px;
	height: 70px;
	position: absolute;
}

#player {
	width: 20px;
	height: 20px;
	background-color: blue;
	position: absolute;
	border-radius: 10px;
	top: 370px;
	left: 290px;
}
